#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   label {
    text-align: left;
   }
  }
}